*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 100%;
    height: 100vh;
    background-color: rgba(1, 36, 36, 0.5);
    margin: auto;
}
.container{
    width: 80%;
    margin: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    gap: 30px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.label{
    font-size: x-large;
}

.features{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: black 1px solid;
    font-size: large;
    font-family: 'Roboto', sans-serif;
}

.btn{
    width: 16rem;
    height: 2.8rem;
    font-size: 2rem;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}

.result{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(19, 136, 239);
}

.predicted_value{
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(19, 20, 22);
}
